
scorpAssesment/scorpAssesment.xcodeproj/project.xcworkspace/xcuserdata/namikkarabiyik.xcuserdatad/UserInterfaceState.xcuserstate
scorpAssesment/scorpAssesment.xcodeproj/project.xcworkspace/xcuserdata/namikkarabiyik.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
